html {
  height: 100%;
  overflow-y: hidden;
}

body {
  height: 100%;
  margin: 0px;
}

#map2D {
  height: 100%;
  flex-grow: 1;
  border: solid 1px;
  box-sizing: border-box;
}

#map3D {
  display: none;
  height: 100%;
  flex-grow: 1;
  border: solid 1px;
  box-sizing: border-box;
}

#sidebar {
  height: 100%;
  flex-basis: 300px;
  border: solid 1px;
  box-sizing: border-box;
  overflow-y: auto;
  padding-bottom: 15px;
  margin-left: 0px;
  margin-right: 0px;
}